<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios para la aplicación -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img"
        android:background="@color/peach_background"
        android:label="@string/app_name"
        android:roundIcon="@drawable/img"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Wakkey"
        tools:targetApi="31">

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Base.Theme.Wakkey"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Otras actividades -->
        <activity android:name=".JuegosActivity" />
        <activity android:name=".CronometroUIActivity" />
        <activity android:name=".CrearAlarmaActivity" />
        <activity android:name=".AlarmListActivity" />
        <activity android:name=".JuegoListActivity" />
        <activity android:name=".AlarmActivity" />
        <activity android:name=".CuentaAtrasActivity" />

        <!-- Receivers -->
        <receiver android:name=".AlarmReceiver" />

        <!-- Actividades de alarma -->
        <activity
            android:name=".DetenerAlarmaActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SumaActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RestaActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".DespeinaActivity"
            android:launchMode="singleTask"
            android:exported="true"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Servicio con tipo de foreground especificado -->
        <service
            android:name=".AlarmaSonandoService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />

    </application>

</manifest>
